$max-width: 1100px;
$border-radius: 12px;

$foreground-rgb: rgb(0, 0, 0);
$primary-background: #e9edff;
$secondary-background: #f9fafb;

$gray-1000: #030712;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;

$start-rgb: #85c9f7;
$end-rgb: #90a7ff;
