@import "../variables.scss";

.main {
}

.header {
  padding: 64px 32px 56px;
  background-color: $primary-background;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.greeting {
  h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    color: $gray-600;
  }

  p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: $gray-500;
  }
}

.pageContainer {
  max-width: 650px;
  margin: 0 auto;
}
