@import "../../variables.scss";

.container {
  padding: 32px;
}

.wrapper {
  margin-top: 8px;
}

.loading {
  align-items: center;
  margin-top: 16px;
}

.text,
.loading {
  color: $gray-600;
  font-size: 16px;
  font-weight: 500;
}
